/* CSS Large Screen */

/* Main Page */
.mp-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(white,rgb(150, 229, 252), rgb(155, 251, 255));    
}

.mp{
    background-size: 80%;
    background-repeat: no-repeat;
}

/* Le jeu */
#the-game {
    display: flex;
    min-height: 729px;
    flex-direction: column;
    justify-content: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.game {
    background: linear-gradient(rgb(155, 251, 255),rgb(150, 229, 252), white ) ;
}

/* Reveal CV */
.backHide {
    background: linear-gradient(white,rgb(150, 229, 252), rgb(155, 251, 255)) ;
}

.hide-cv {
    min-height: 729px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-y: center;
}
