/* CSS Large Screen */

/* Main Page */
header {
    padding: 0.5rem 15rem 0.5rem 15rem;
}

.mp-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(56, 37, 65, 1), rgba(56, 37, 65, 1), rgb(104, 69, 121));
}

.mp{
    background-size: 80%;
    background-repeat: no-repeat;
}

/* Le jeu */
#the-game {
    display: flex;
    min-height: 729px;
    flex-direction: column;
    justify-content: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.game {
    background: linear-gradient(rgb(104, 69, 121), rgba(56, 37, 65, 1), rgba(56, 37, 65, 1));
}

/* Reveal CV */
.backHide {
    background: linear-gradient(rgba(56, 37, 65, 1), rgb(104, 69, 121), rgba(56, 37, 65, 1), rgba(56, 37, 65, 1));
}

.hide-cv {
    min-height: 729px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-y: center;
}
